{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>{{ vocab.vocabTxt }}</h1>
<ul>
{% for definition in definition_set %}
  <li><h2>{{ definition.defTxt }}</h2></li>
{% endfor %}
</ul>

<form action = "{% url 'detail' %}" method = "post">
  {% csrf_token %}
  [Add Definition]<br>
  <input type = "text" name = "definition"><br>
  <input type = "submit" value = "Submit">
</form>

{% comment %}
<form action = "{% url 'vocab:definition' vocab.id %}" method="post">
{% csrf_token %}
{% for vocab in vocab.definition_set.all %}
  <input type = "text" name="definition" id="definition{{ forloop.counter }}" value = "{{ definition.id }}">
  <label for = "definition{{ forloop.counter }}">{{ definition.defTxt }}</label><br>
{% endfor %}
<input type = "Register" value = "Definition">
</form>
{% endcomment %}
